.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
 
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main{
  display: flex;
}

#main :first-child{
  width:30%
}

table {
  width: 100%;
  margin: 20px auto;
  table-layout: auto;
}

.fixed {
  table-layout: fixed;
}
tr:nth-child(even){
  background-color: rgb(5, 118, 118);
}
table,
td,
th {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: solid 1px;
  text-align: center;
}

a {
  text-decoration: none !important;
}